<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XouTubeFastLaneSnapShots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>XouTubeTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XouTubeUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XouTubeWatch (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>XouTubeWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3803EA6A23EA998900DC745C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3803EA8023EA998B00DC745C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>385D2AA6241F450D0004FAE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3895A0812458592A0061C818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3895A0FF2458E7F40061C818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
